In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
#!pip install mysql
!pip3 install mysql-connector-python-rf
import mysql.connector
from pprint import pprint

Requirement already satisfied: mysql-connector-python-rf in c:\miniconda\envs\py38_default\lib\site-packages (2.2.2)

In [3]:
file_path = r'C:\Users\DS2002\Downloads\games.csv'
df = pd.read_csv(file_path)
#print(df)
df.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
1,45909,1,ana,2015-04-06,153,201500002,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0
2,36969,2,atl,2015-04-06,156,201500003,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16
3,31042,6,bal,2015-04-06,181,201500004,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0
4,45549,8,bos,2015-04-06,181,201500005,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0

In [4]:
for col in df.columns:
    print(col)

attendance
away_final_score
away_team
date
elapsed_time
g_id
home_final_score
home_team
start_time
umpire_1B
umpire_2B
umpire_3B
umpire_HP
venue_name
weather
wind
delay

In [5]:
#new_df = df[df['column_name'] == 'target_value']
ndf = df[df["venue_name"] == "Safeco Field"]

#ndf.head()
#print(ndf)
ndf = ndf.drop(['away_final_score','away_team','elapsed_time', 'g_id', 'home_final_score','home_team','umpire_1B','umpire_2B',
               'umpire_3B', 'umpire_HP', 'venue_name', 'delay'], axis=1)
ndf = ndf.dropna()
print(ndf)

      attendance        date start_time                    weather  \
1          45909  2015-04-06    1:12 PM         54 degrees, cloudy
15         26545  2015-04-07    7:10 PM  56 degrees, partly cloudy
22         25495  2015-04-08    7:10 PM  60 degrees, partly cloudy
153        36606  2015-04-17    7:10 PM          59 degrees, clear
168        43017  2015-04-18    6:11 PM          62 degrees, clear
...          ...         ...        ...                        ...
9657       13727  2018-09-26    7:10 PM          67 degrees, clear
9668       15799  2018-09-27    7:10 PM          67 degrees, clear
9682       23598  2018-09-28    7:10 PM          67 degrees, clear
9698       31780  2018-09-29    6:11 PM         67 degrees, cloudy
9713       21146  2018-09-30   12:10 PM         65 degrees, cloudy

                   wind
1         1 mph, Varies
15     3 mph, Out to RF
22    1 mph, In from LF
153   6 mph, In from LF
168   5 mph, In from LF
...                 ...
9657        0 mph, Calm
9668   1 mph, Out to RF
9682        0 mph, Calm
9698  1 mph, In from CF
9713        0 mph, Calm

[324 rows x 5 columns]

In [7]:
newcsv = ndf.to_csv("cleaned_baseball.csv", index=False)

In [8]:
df = pd.read_csv("2105SeattleBaseball.csv")
df.head()

,Gm#,Date,Unnamed: 2,Tm,Unnamed: 4,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
0,1,Monday Apr 6,boxscore,SEA,NaN,LAA,W,4,1,NaN,...,Tied,Hernández,Weaver,Rodney,2:33,D,45909,1.03,+,NaN
1,2,Tuesday Apr 7,boxscore,SEA,NaN,LAA,L,0,2,NaN,...,0.5,Wilson,Paxton,Street,2:13,N,26545,1.12,-,NaN
2,3,Wednesday Apr 8,boxscore,SEA,NaN,LAA,L,3,5,NaN,...,1.0,Shoemaker,Iwakuma,Street,2:48,N,25495,1.03,--,NaN
3,4,Friday Apr 10,boxscore,SEA,@,OAK,L,0,12,NaN,...,1.5,Pomeranz,Walker,NaN,2:44,N,30114,1.01,---,NaN
4,5,Saturday Apr 11,boxscore,SEA,@,OAK,W,5,4,11.0,...,0.5,Olson,Abad,Rodney,3:39,D,24355,1.02,+,NaN

In [9]:
for col in df:
    print(col)

Gm#
Date
Unnamed: 2
Tm
Unnamed: 4
Opp
W/L
R
RA
Inn
W-L
Rank
GB
Win
Loss
Save
Time
D/N
Attendance
cLI
Streak
Orig. Scheduled

In [35]:
newdf = df.loc[:, ['Date', 'Unnamed: 4', 'W/L', 'Attendance']]
#print(selected_columns)

newdf['Location'] = newdf['Unnamed: 4']
newdf = newdf.drop(columns=['Unnamed: 4'])
newdf.head()
newdf['Location'] = newdf['Location'].fillna('home')
value_to_drop = '@'
newdf = newdf[newdf['Location'] != value_to_drop]

newdf.head()
print(newdf)

                 Date W/L  Attendance Location
0        Monday Apr 6   W       45909     home
1       Tuesday Apr 7   L       26545     home
2     Wednesday Apr 8   L       25495     home
9       Friday Apr 17   L       36606     home
10    Saturday Apr 18   W       43017     home
..                ...  ..         ...      ...
157    Tuesday Sep 29   W       15331     home
158  Wednesday Sep 30   L       14257     home
159      Friday Oct 2   L       26130     home
160    Saturday Oct 3   L       24448     home
161      Sunday Oct 4   W       22402     home

[81 rows x 4 columns]

In [29]:
seattle_wl = newdf.to_csv('WLSeattle.csv')

In [ ]:
#API

In [34]:
import requests
import csv

url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/seattle/2015-04-06/2015-10-04?unitGroup=us&include=days&key=ZHHD2Y5HG2RD5VUYGKX6252XG&contentType=json'

response = requests.get(url)


if response.status_code == 200:
    data = response.json()
    csv_filename = "weather_data.csv"

    with open(csv_filename, "w", newline="") as csv_file:
        csv_writer = csv.writer(csv_file)
        csv_header = [
            "datetime", "tempmax", "tempmin", "temp", "feelslikemax", "feelslikemin", "feelslike",
            "dew", "humidity", "precip", "precipprob", "precipcover", "preciptype", "snow",
            "snowdepth", "windgust", "windspeed", "winddir", "pressure", "cloudcover",
            "visibility", "solarradiation", "solarenergy", "uvindex", "severerisk", "sunrise",
            "sunset", "moonphase", "conditions", "description", "icon", "stations",
            "source", "name"
        ]
        csv_writer.writerow(csv_header)
        for day in data["days"]:
            csv_row = [
                day["datetime"], day["tempmax"], day["tempmin"], day["temp"],
                day["feelslikemax"], day["feelslikemin"], day["feelslike"],
                day["dew"], day["humidity"], day["precip"], day["precipprob"], day["precipcover"],
                day["preciptype"], day["snow"], day["snowdepth"], day["windgust"], day["windspeed"],
                day["winddir"], day["pressure"], day["cloudcover"], day["visibility"],
                day["solarradiation"], day["solarenergy"], day["uvindex"],
                day["sunrise"], day["sunset"], day["moonphase"], day["conditions"],
                day["description"], day["icon"], day["stations"], day["source"]
            ]
            csv_writer.writerow(csv_row)

    print(f"Data saved to {csv_filename}")

else:
    print(f"Failed to retrieve data. HTTP Status Code: {response.status_code}")

Data saved to weather_data.csv